@{
    ViewBag.Title = "Maps";
}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<div class="row">
    <div id="divMap" style="height: 200px;" class="col-md-6">
        
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/maps")    
}